html {
    box-sizing: border-box;
  }
    
  body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
  }
  
  .game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hidden {
    display: none !important;
  }
  
  .invisble {
    visibility: hidden;
  }
  
  header {
    text-align: center;
    font-size: 24px;
  }
   
  .tile-container {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 180px 180px;
    grid-gap: 25px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  
  .tile-red {
    background-color: red;
    transition: 0.25s;
  }
  
  
  .tile-green {
    background-color: green;
    transition: 0.25s;
  }
  
  
  .tile-yellow {
    background-color: yellow;
    transition: 0.25s;
  }
  
 
  .tile-blue {
    background-color: blue;
    transition: 0.25s;
  }
  
  
  .info-box {
    text-align: center;
  }
  
  .start-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
  }
  
  .start-button:hover {
    color: #333;
    border-color: #888;
    outline: 0;
  }
  
  .info {
    font-size: 22px;
  }
  
